* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background:  #f3f7f4;
  margin: 0;
  padding: 0;
}

h1, h4, p {
margin-left: 100px;
}

.form {
  background:  #f3f7f4;
  height: 250px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  margin: 80px 500px;
  display: block;
  border: solid 1px rgb(25, 139, 109);
}

.form:hover {
  transition: .4s;
  transform: scale(1.02);
}

.row-one, .row-two {
  padding: 20px;
}


.text-input {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(231, 228, 228);
  border: none;
  outline: none;
  cursor: pointer;
}

.text-input:last-child {
  margin-bottom: 35px;
}

.text-input:hover {
  background-color: rgb(59, 185, 122);
}

#submit {
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  background-color: rgb(59, 185, 122);
  color: rgb(87, 86, 86);
  margin: auto;
  display: block;
  outline: none;
  cursor: pointer;
}

#submit:hover{
  background: linear-gradient(to top, transparent, #3cb371);
}

.text {
  display: inline-block;
  margin: 5px 20px 5px 8px;
}

.row-one {
  padding: 20px 50px;
  display: flex;
}

.row-one .container input {
  position: absolute;
  opacity: 0;
}

.row-two {
  padding: 30px 20px 30px 20px;
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  max-width: 120px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(231, 228, 228);
  border-radius: 50%;
}

.container:hover .checkmark {
  background-color: rgb(59, 185, 122);
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border:  3px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.bmi-text {
  font-weight: bold;
  font-size: 20px;
}

.bmi-value {
  font-weight: bold;
  font-size: 20px;
  color: green;
  margin-bottom: 100px;
}

#strong{
  margin-top:50px;
  font-size: 18px;
}

#last-paragraf{
  margin-bottom: 80px;
}

#result-text{
  margin-top: 30px;

}
.result-list {
margin-left: 100px;
}

.result-list strong{
  color:green;
  font-weight: bold;
  
}